{% extends "base.html" %}

{% block title %}Agenda{% endblock %}

{% block content %}

<h2>Agenda {{ fecha }}</h2>

{% if cumpleanos %}
<div class="card card-cumple">
    <strong>🎂 Cumpleaños hoy</strong><br><br>

    {% for p in cumpleanos %}
        🎉 {{ p.nombre }}<br>
    {% endfor %}
</div>
{% endif %}

<div class="nav">
    <a href="?fecha={{ fecha_anterior|date:'Y-m-d' }}">⬅ Día Anterior</a>
    <a href="?fecha={{ fecha_siguiente|date:'Y-m-d' }}">Día Siguiente➡</a>
</div>

<p>Seleccione una fecha para ver reservas:</p>

<form method="get">
    <input type="date" name="fecha" value="{{ fecha|date:'Y-m-d' }}">
    <button type="submit">Ver</button>
</form>

<a href="{% url 'agregar_reserva' %}">
    <button class="btn-success">+ Nueva reserva</button>
</a>

<hr>

{% for r in reservas %}
<div class="card 
{% if r.estado == 'asistio' %}
card-asistio
{% elif r.estado == 'no_asistio' %}
card-no-asistio
{% else %}
card-reservado
{% endif %}
">
    <strong>{{ r.hora }}</strong><br>
    {{ r.paciente }}<br>
    Estado: {{ r.get_estado_display }}

    <div style="margin-top:10px;">
        <a href="{% url 'marcar_asistio' r.id %}">
            <button class="btn-success">✔</button>
        </a>
        <a href="{% url 'marcar_no_asistio' r.id %}">
            <button class="btn-danger">✖</button>
        </a>
    </div>
</div>
{% empty %}
<p>No hay reservas</p>
{% endfor %}

{% endblock %}