<!DOCTYPE html>
<html>
<head>
    <title>Agenda de hoy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1>Agenda de hoy ({{ hoy }})</h1>

{% if reservas %}
    <ul>
        {% for reserva in reservas %}
           <li>
               <strong>{{ reserva.hora }}</strong><br>
               {{ reserva.paciente.nombre }}<br>
               Estado: {{ reserva.get_estado_display }}
               {% if reserva.estado == "reservado" %}
                    <a href="{% url 'marcar_asistio' reserva.id %}">✅ Asistió</a>
                    <a href="{% url 'marcar_no_asistio' reserva.id %}">❌ No asistió</a>
                {% endif %}
           </li>
           <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay reservas para hoy</p>
{% endif %}

</body>
</html>
