{% extends "base.html" %}

{% block title %}Agregar Reserva{% endblock %}



{% block content %}

<h1>Agregar Reserva</h1>

<form method="post" class="card">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <label>Paciente</label>

    <div class="autocomplete-container">
        <input type="text" id="buscar" placeholder="Buscar paciente...">
        <input type="hidden" name="paciente" id="buscar_id">
        <ul class="autocomplete-results" id="resultados"></ul>
    </div>

    <a href="{% url 'crear_paciente' %}" class="btn-secondary">
    + Nuevo paciente
</a>

    <hr>

    <label>Fecha</label>
    {{ form.fecha }}

    <label>Hora</label>
    {{ form.hora }}

    <label>Duración</label>
    {{ form.duracion }}

    <button type="submit" class="btn-success">
        Guardar reserva
    </button>
</form>

<a href="{% url 'agenda_hoy' %}" class="btn-secondary">
    ← Volver
</a>

{% endblock %}

{% block extra_js %}
<script>
initAutocomplete("buscar", "resultados", "{% url 'buscar_pacientes' %}");
</script>
{% endblock %}